#premierTitre{
	text-align: center;
	font-weight: bolder;
	background-color: black;
	color: #fff;
	padding: 20px 0px;
}

#menu2{
	margin-left: 450px;
}

#location{
	margin-left: 30px;
}

.navbar{
	background-color: orange;
	font-weight: bold;
}

.nav-link{
	color: #fff;
}
.sommes{
	margin: 0 auto;
	width: 500px;

}

/*  INDEX.HTML */

input:hover{
	box-shadow: 2px 5px 10px;
	transition: 0.4s;
	background-color: rgba(247, 178, 51, 0.911)
}
.modal-header{
	background-color: rgb(255, 166, 0);
}
#myModalLabel{
	font-weight: bolder;
	color: aliceblue;
	font-size: 30px;
}
.modal-footer{
	background-color: black;
}
#titreCards{
	background-color: rgb(250, 189, 23);
	color: #fff;
	font-weight: bold;
}
div>p{
	text-align: justify;
}
div>h5{
	color: orange;
	font-weight: bold;
}
.card-deck :hover{
	box-shadow: 2px 5px 10px;
	transition: 0.4s;
	background-color: rgba(250, 249, 246, 0.911);
}
.user{
	font-weight: bolder;
	font-size: 20px;
}