/* INSCRIPTION */

#formI{
	background-color: rgba(254, 0, 250, 0.1);
} 

.trait{
	height: 5px;
	width: 50%;
	background-color: orange;
	margin-left: 25%; 
}

h1, form{
	text-align: center;
	text-transform: uppercase;
}
div>input{
	margin-bottom: 15px;
	padding: 6px;
	text-align: center;
}

input[type=submit]{
	padding: 10px 20px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background-color: orange;
}
input:hover{
	box-shadow: 2px 5px 10px;
	transition: 0.4s;
	background-color: rgba(247, 178, 51, 0.911)
}
.modal-header{
	background-color: rgb(255, 166, 0);
}
#myModalLabel{
	font-weight: bolder;
	color: aliceblue;
	font-size: 30px;
}
.modal-footer{
	background-color: black;
}
#titreCards{
	background-color: rgb(250, 189, 23);
	color: #fff;
	font-weight: bold;
}
div>p{
	text-align: justify;
}
h5{
	color: orange;
	font-weight: bold;
}
.card-deck :hover{
	box-shadow: 2px 5px 10px;
	transition: 0.4s;
	background-color: rgba(250, 249, 246, 0.911)
}